body {
margin: 0;
font-family: 'Courier New', Courier, monospace, sans-serif;
display: flex;
flex-direction: column;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.about{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    align-items: flex-start;
}
.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
}
.chess-cont {
    display: flex;
    padding-top: 20px;
}

.but {
    padding: 5px 20px 5px 20px;
    font-weight: bold;

}

/*here ends about and starts product*/

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    gap: 40px;
}

.item {
    width: 200px;
    border-radius: 3%;

}

.item-box {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    align-items: center;
}

.border-box {
    border: 3px solid #3882f6;
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.one,
.four  {
   height: 200px;
}

.chess {
  width: 500px;
  height: 300px;
  border-radius: 3%;
}

a{
    text-decoration: none;
    size: 18px;
    color: #e5e7eb;
}

.hero{
    margin: 0;
    color:#f9faf8;
    size: 48px;
    font-weight: bolder
}
.hero-second {
    size: 18px;
    color: #e5e7eb;
}

ul{
    padding-right: 10px;
    list-style: none;
    display: flex;
    gap: 10px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border: #3882f6;
    border-radius: 9%;
}

.info {
    size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.button{
    border: 1px #f9faf8 solid;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
}

