body {
margin: 0;
font-family: 'Courier New', Courier, monospace, sans-serif;
display: flex;
flex-direction: column;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.about{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    align-items: flex-start;
}
.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
}
.chess-cont {
    display: flex;
    padding-top: 20px;
}

.but {
    padding: 5px 20px 5px 20px;
    font-weight: bold;

}

.chess {
    width: 500px;
    height: 300px;
    border-radius: 3%;
  }
  
  a{
      text-decoration: none;
      size: 18px;
      color: #e5e7eb;
  }
  
  .hero{
      margin: 0;
      color:#f9faf8;
      size: 48px;
      font-weight: bolder
  }
  .hero-second {
      size: 18px;
      color: #e5e7eb;
  }
  
  ul{
      padding-right: 10px;
      list-style: none;
      display: flex;
      gap: 10px;
  }
  

/*here ends about and starts product*/

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box {
    display: flex;
    gap: 40px;
}

.item {
    width: 200px;
    border-radius: 3%;

}

.item-box {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    align-items: center;
}

.border-box {
    border: 3px solid #3882f6;
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.one,
.four  {
   height: 200px;
}


button{
    background-color: #3882f6;
    color: #f9faf8;
    border: #3882f6;
    border-radius: 9%;
}


.quote {
    background-color: #e5e7eb;
    size: 36px;
    font-style: light italic;
    color: #2e3a4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.act-quote {
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contan {
    display: flex;
    flex-direction: column;

}

.guy {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.button{
    border: 1px #f9faf8 solid;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    margin: 20px;
    max-height:30% ;
}

.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 248px;
}

#sign {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 100px;
}

.bap{
     display: flex;
     align-items: center;
     margin: 0px 25px;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
}

